mixin buttons() 
  div(style="display: flex; flex-wrap: wrap;")
    button.shadowFill   Fill In
    button.shadowClose  Close
    button.shadowUp     Fill Up
    button.shadowSlide  Slide
    button.shadowAngle  Angle
    button.gradient-border  Gradient animated 
    .button-mask-1(data-title="MASK")
      button MASK
    .button-mask-2(data-title="MASK")
      button MASK
    .button-mask-3(data-title="MASK")
      button MASK
    button.neon-button Neon